# 1. PosgreSQL Database credentials 
GLOBAL_DB_USER=postgres
GLOBAL_DB_PASSWORD=1234
GLOBAL_DB_PORT=8054
GLOBAL_DB_NAME=guiripisos

# 2. Environment settings
GLOBAL_INSTALLATION_APP=guiripisos
## Important: Use `production` for production, `staging` for staging, `development` for development, 
## and `local` or some other value for other working environments.
GLOBAL_ENV=development

## Platform values for different machines
## Use "linux/amd64" for macOS M1/M2 (Apple Silicon)
## Use "linux/arm64" for ARM-based Linux
## Use "linux/amd64" for x86-based Linux
## Use "windows/amd64" for Windows
DOCKER_PLATFORM=linux/amd64

## Docker container names
DOCKER_BASE_NAME=guiripisos
DB_CONTAINER_NAME=${DOCKER_BASE_NAME}-pgsql
MAGE_CONTAINER_NAME=${DOCKER_BASE_NAME}-mage
NGINX_CONTAINER_NAME=${DOCKER_BASE_NAME}-nginx
NEXT_APP_CONTAINER_NAME=${DOCKER_BASE_NAME}-next

GLOBAL_DB_HOST=${DB_CONTAINER_NAME}
GLOBAL_HOST_URL=http://127.0.0.1

# 3. Nginx settings
NGINX_PORT=8888
MAIN_DOMAIN=guiripisos.local
MAGE_DOMAIN=mage.${MAIN_DOMAIN}
## Main url (compiled frontend):    http://$MAIN_DOMAIN:$NGINX_PORT
## Mage url:                        http://$MAGE_DOMAIN:$NGINX_PORT

# 4. Mage settings
## See: https://docs.mage.ai/development/variables/environment-variables
MAGE_PORT=9000
MAGE_ENV=${GLOBAL_ENV}
PROJECT_NAME=mage-guiripisos
MAGE_DB_HOST=${GLOBAL_DB_HOST}
MAGE_DB_USER=${GLOBAL_DB_USER}
MAGE_DB_PASSWORD=${GLOBAL_DB_PASSWORD}
MAGE_DB_PORT=${GLOBAL_DB_PORT}
MAGE_DB_NAME=${GLOBAL_DB_NAME}
## Use this to connect to Google Sheets
## See: https://docs.mage.ai/integrations/databases/GoogleSheets#google-sheets
MAGIC_PROJECT_ID=''
MAGIC_PRIVATE_KEY_ID=''
MAGIC_PRIVATE_KEY=''
MAGIC_CLIENT_EMAIL=''
MAGIC_CLIENT_ID=''
MAGIC_CLIENT_X509_CERT_URL=''
## Authentication (optional)
REQUIRE_USER_AUTHENTICATION=1
DEFAULT_OWNER_EMAIL=admin@dev.com
DEFAULT_OWNER_PASSWORD=1234
DEFAULT_OWNER_NAME=Admin
## Use OpenAI in your data pipelines (optional)
# OPENAI_API_KEY=***
## Use Anthropic in your data pipelines (optional)
# ANTHROPIC_API_KEY=your-anthropic-api-key-here
## Use this next URL in case you want to use database to store Mage status; see: https://docs.mage.ai/production/databases/default 

# 6. RIS3-REST API (FastAPI)
API_CONTAINER_NAME=${DOCKER_BASE_NAME}-api
API_PORT=9092
API_DOMAIN=api.${MAIN_DOMAIN}


# 7. Next API
NEXT_APP_CONTAINER_PORT=9099
NEXT_APP_GUIRI_API_BASE=http://${API_DOMAIN}:${API_PORT}