@media (min-width: 768px) {
    .search-form {
        --search-field-width: auto;
        --search-number-max-width: 100px;
        --search-field-margin: 0;
        --search-form-padding: 3rem;
    }

    .search-form .tipus-via-carrer > div {
        background: #f4f6f8;
    }

    .section-search {
        background: transparent;
        padding: 0;
    }

}